<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/pizzas">Show all orders</a>
      </li>
      <li>
        <a href="/pizzas/new">Create new order</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>