<form method="post" action="/pizzas">
  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name="first_name" />
  <br/>

  <label for="last-name">Last Name:</label>
  <input id="last-name" type="text" name="last_name" />
  <br/>

  <label for="pizza-select">Select a pizza:</label>
  <select id="pizza-select" name="topping">
    <option value="Margherita">Margherita</option>
    <option value="Pepperoni">Pepperoni</option>
    <option value="Meat Feast">Meat Feast</option>
    <option value="Haggis">Haggis</option>
    <option value="Ham and Pineapple">Ham and Pineapple</option>
    <option value="Vegetarian">Vegetarian</option>
  </select>
  <br/>

  <label for="quantity">Quantity:</label>
  <input id="quantity" type="number" name="quantity"/>
  <br/>
  <br/>

  <input type="submit" value="Order Pizza"/>
</form>